on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/flat.yml
  schedule:
    - cron: 44 12,18,23,2 * * *
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://static.data.gov.hk/covid-vaccine/bar_age.csv
          downloaded_filename: bar_age.csv
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://static.data.gov.hk/covid-vaccine/pie_venue.csv
          downloaded_filename: pie_venue.csv
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://static.data.gov.hk/covid-vaccine/bar_vaccination_date.csv
          downloaded_filename: bar_vaccination_date.csv
